# Developers
.hg
.git
.svn
.idea/
.vscode/
.sass-cache/
*.db
*.pyc
__pycache__
*~

# Javascript libraries
/node_modules/

# Coverage reports & testing
/reports/
/htmlcov/
.tox

# Environment
local.py
/env/
/media/
/static/
/mail/
/log/*.log*
/log/nginx/*.log*
.env

# Static files build by gulp
src/verzoeken/static/css/admin/admin_overrides.css
src/verzoeken/static/css/screen.css

src/verzoeken/static/fonts/
src/verzoeken/static/js/
